html, body{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: #020203;
    background-image: linear-gradient(#020203, #1c242c);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 100vh;
    color: #dee2e6;
}

footer{
    background-color: #000000;
    border-top: 3px solid rgb(255, 242, 0);
}
.pt-6{padding-top: 6rem;}
.pb-5r{padding-bottom: 5rem;}
.login-title-text{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    line-height: 1.099;
    font-weight: 400;
    margin: 0;
}
.card-container, .front, .back{
    width: 100%;
    height: 285px;
    color: white;
}
.manual-flip{
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    position: relative;
}
.flip-card{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.flip-card .front, .flip-card .back {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    background: transparent;
    padding: 10px 20px 20px;
}
.flip-card .back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.flip-card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.section-home {
    background-image:url(../images/bg-desktop.png) ;
    background-position: center 23%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /*background-size: 100% 150%;*/
    /*height: 100vh;*/
}
.section-home::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(transparent 55%, black);
    bottom: 0;
}
.section-detail{
    /* background-color: #020203; */
    background-image: url(../images/detail-bg.png);
    background-position: center 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 150%;
}
.login-nav-link.active{
    color: #fff200 !important;
    background: transparent !important;
    border:none !important;
}
.login-nav-link{
    color: white !important;
}
.login-nav-link:hover{border-color: transparent !important;}
.op_desc_code_pink{
    background-color: #fff200;
    padding: 11px 0px 14px 0px;
    border-radius: 4px;
    color: black;
}
.login-card-body h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card-text {
    font-size: 11px;
}
.login-card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.footnotes-point {
    text-align: left;
    font-size: 10px;
    font-weight: 100 !important;
    max-height: 130px;
    overflow-y: auto;
    padding-right: 10px;
    margin: 1.3rem 0;
}
.footnotes-point::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.footnotes-point::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.footnotes-point::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.footnotes-point::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.tab-card-header{
        border-bottom: 1px solid #dee2e6 !important;
}
a:active,a:visited,a:target,button:active,a:active,a:visited,a:target:visited,a:active,a:visited,a:target:target{
    border:none !important;
    text-decoration: none;
}
.second-sec{position: relative;}
.second-sec::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(black 55%, transparent);
}
.logo {
    padding: 20px 0px;
    width: 184px;
}
.cust-center{
    /*max-width: 480px;*/
    margin: 0 auto;
}
.video-attribute img{
    width: 15px !important;
    display: inline-block !important;
}
.card, .card-body, .card-footer {
background-color: #000;
}
.card-body {
    border-bottom: 3px solid rgb(255, 242, 0);
}
.card-body img{cursor: -webkit-grab; cursor: grab;}
.cust-border {
    border-bottom: 1px solid #dee2e6;
}
.btn {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    line-height: 1.29;
    font-weight: 600;
    background-color: #fff200;
    border: 1px solid #fff200;
    padding: 10px 50px;
    border-radius: 25px;
    transition: transform .2s;
}
.no-bg {
    background-color:  transparent;
}
.footer-social img{
    display: inline-block !important;
    height: 40px;
}
.app-share img{
    display: inline-block !important;
    height: 40px;
}
.footer-list li{ 
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #dee2e6;
}

.lock {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #dee2e644;
}
.lock:hover .overlay {
    opacity: 1;
}
.top-icon img {
    width: 140px;
}
.contents img{
    width: 40px;
}

.contents a:hover,.contents a,.contents a:active,.contents a:visited,.contents a:target {
    color: rgb(255, 242, 0);
}

.contents .nav-link.active{
    border-bottom: 3px solid rgb(255, 242, 0);
}

.sub-heading {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    line-height: 1.099;
    font-weight: 400;
    margin: 0;
}
.videos-title{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    line-height: 1.099;
    font-weight: 400;
}
.video-title{
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-bottom: 0;
}
.video-attribute p{
    margin-bottom: 0;
    font-size: 12px;
    color: rgb(155, 155, 155);
    font-weight: 300;
}
.b-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.sub-title{
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    font-weight: 300;
}
/*.owl-carousel .owl-item img{border-radius: 6px 6px 0 0;}*/
.lightSlider li{
    width: 350px;
}
.lightSlider li .card{
    width: 100%;
}
.lightSlider li .card .video-box img{
    width: 100%;
    border-radius: 6px 6px 0 0;
}
.prevarrow, .prevarrow1, .prevarrow2{
    transform: rotate(180deg);
}
.owlarrow {
    cursor: pointer;
    width: 40px;
}
.vm-title{
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    line-height: 1.099;
    font-weight: 400;
}
.gif_img_tag {
    width: 350px;
    height: 200px;
}
.footer-logo {
    width: 150px;
    margin-right: 5px;
}
.footer-heading {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.footer-link.border-right {
    border-right: 1px solid #4e4e4e!important;
}
.footer-link {
    color: #4e4e4e;
    /* font-size: 15px; */
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
    padding-right: 10px;
}
hr {
    border-top: 1px solid rgba(255, 255, 255, 0.32);
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.footer-copyright {
    color: #4e4e4e;
    font-size: 11px;
    font-weight: 300;
    margin-top: 20px;
}
.footer {
    background-color: #090d11;
    padding: 2rem 0;
}
.gif-box{position: relative;}
.gif-box:hover::before{
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    background-color: rgb(0 0 0 / 43%);
    z-index: 1;
    bottom: 0;
    color: #f1f1f1;
    transition: .5s ease;
    padding: 20px;
    text-align: center;
}
.gif-black-glass-wrap {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;
}
.gif-box:hover .gif-black-glass-wrap{
    display: inline-block;
    z-index: 2;
    font-size: 15px;
    vertical-align: middle;
    margin-bottom: auto;
    margin-top: 50px !important;
    margin-left: 15px;
}
.gif-black-glass-wrap small, .gif-black-glass-wrap i{padding:5px;}
.gif-black-glass-wrap i{cursor: pointer;}
.gif-black-glass-wrap i:hover{color: #fff200 !important;}
.signUp-link{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
}
.detail-heading {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    line-height: 1.099;
    text-align: center;
    font-weight: 400;
}
#pills-tab {
    border-bottom: 1px solid rgb(119, 126, 145);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    border-bottom: 3px solid rgb(255, 242, 0);
    margin-bottom: -1px;
    font-weight: 500;
    font-size: 17px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
    opacity: 1;
}
.nav-pills .nav-link {
    font-weight: 300;
    border-radius: 0;
    opacity: .5;
    font-size: 15px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    padding-bottom: 10px;
}
.nav-pills .nav-link img {
    height: 40px;
}
.log_icons {
    width: 30px;
}
.Popular_Video, .Popular_Video_riddle, .gif-heading {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.616;
    font-weight: 500;
}
.funnytabdropdown, .riddletabdropdown, .giftabdropdown {
    background-color: transparent;
    color: #fff200;
    border-radius: 20px;
    border: 1px solid #fff200;
    padding: 6px 10px;
    font-weight: 400;
    font-size: 1rem;
    width: 180px;
    text-transform: uppercase;
}
.funnytabdropdown:focus-visible, .riddletabdropdown:focus-visible, .giftabdropdown:focus-visible{
    outline: none;
}
.funnytabdropdown option, .riddletabdropdown option, .giftabdropdown option {
    color: #000;
}
.tab-content .card{border: none;border-radius: 6px 6px 0 0;background: transparent !important;}
.tab-content .card .card-body{border-radius: 6px 6px 0 0;background: transparent !important;}
#gif .video-box.gif-box img{
    height: 150px;
    border-radius: 10px;
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
}
#gif .card-body{border: none !important;}
.tab-content .card .video-img{border-radius: 6px 6px 0 0;}
.btn-outline-danger {
    color: #dc3545 !important;
    border-color: #dc3545 !important;
    background: transparent !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border-radius: .25rem !important;
    font-weight: 400 !important;
}
.btn-outline-danger:hover {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}
 .shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
}
.footer-social i{font-size: 36px;}
@media (min-width:768px) and (max-width:1024px)  {
    .top-icon img {
        width: 120px;
    }   
}

@media (max-width:768px)  {
    .top-icon img {
        width: 100px;
    }
    .manual-flip .card-header{
        padding: .75rem 0rem;
    }
    .flip-card .front, .flip-card .back{padding: 10px 0;}
    .flip-card .back .tab-pane{
        padding: 1rem 0 !important;
    }
    .lightSlider li{width: 345px;margin-left:6px;}
    .lightSlider li .card{width: 91%;}
    .mt-3r{margin-top: 3rem;}
    .m-view-wrap .footer-logo{width: 72px;}
    .m-view-wrap .foot-img-fluid{width: 72px;}
    .footer-heading{font-size: 0.99rem;}
    .footer-social i{font-size: 23px;}
    .footer{padding: .5rem 0;}
    .funnytabdropdown, .riddletabdropdown, .giftabdropdown{width: 100%;}
    .panel-default>.panel-heading a {
        display: block;
        padding: 10px 15px;
        font-size: 13px !important;
    }
    .panel-body{padding: 10px;}
    .panel-body  ul > li, .panel-body p {
        font-size: 13px !important;
    }
    .sm-ml-15{margin-left: 15px;}
}
@media only screen and (max-width: 1024px) and (max-height: 1366px){
    .sub-heading {
        font-size: 1.4rem;
        padding-bottom: 3rem;
    }
    .login-title-text {
        font-size: 1.4rem;
    }
    .s-icons {
        width: 28% !important;
    }
    .pt-6{padding-top: 1rem;}
}

/*Header new CSS*/
.login_div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.login_div_rtl{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.login_div .heading-link, .login_div .my-account{
    color: #fff200;
    font-size: 1.5rem;
}
.login_div_rtl .heading-link, .login_div_rtl .my-account{
    color: #fff200;
    font-size: 1.5rem;
}
.pt-12r{padding-top: 12rem;}